<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/block_small_icon_withbackground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/block_small_icon_withbackground_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuenzApp"
        tools:targetApi="31" >
        <activity
            android:name=".activities.GermanCoins.GermanAddingActivityIISpecial"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.InternCoins.InternAddingActivityIISpecial"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.InternCoins.InternCoinTableActivityIISpecial"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.GermanCoins.GermanCoinTableActivityIISpecial"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.example.muenzapp"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Authentication"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartingPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GermanCoins.GermanOverviewActivity"
            android:exported="false"
            android:parentActivityName=".activities.StartingPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.GermanCoins.GermanAddingActivity"
            android:exported="false"
            android:parentActivityName=".activities.GermanCoins.GermanOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.GermanCoins.GermanCoinTableActivity"
            android:exported="false"
            android:parentActivityName=".activities.GermanCoins.GermanOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.InternCoins.InternCoinTableActivity"
            android:exported="false"
            android:parentActivityName=".activities.StartingPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.InternCoins.InternAddingActivity"
            android:exported="false"
            android:parentActivityName=".activities.InternCoins.InternCoinTableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>